body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-container {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

#click-me {
    display: block;
    margin: 200px auto;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
}

#runner {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: purple;
    ;
}

#old-lady {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: red;
}

#timer, #score {
    position: absolute;
    top: 10px;
    font-size: 24px;
}

#timer {
    left: 10px;
}

#score {
    right: 10px;
}

#frase {
    position: absolute;
    font-size: 24px;
    color: black;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}